* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	color: black;
	font-family: 'Roboto Condensed', sans-serif;
}

body {
	background-image: url(../images/bg.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.header {
	height: 25vh;
	width: 100vw;
	background: rgb(255,255,255,0.1);
}

.logo img {
	padding: 20px;
	height: 21vh;
}

.logo{
	width: 25%;
	float: left;
	/*z-index: 1;*/
}

.button{
	width: 75%;
	float: left;
	font-size: 35px;
	display: block;
	/*padding-left: 1vw;*/
}


button {
	color: black;
	height: 50px;
	width: 210px;
	margin-top: 15vh;
	border: none;
	background: transparent;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bolder;
	font-size: 27px;
	text-align: center;
	/*z-index: 5;*/
}

#but {
	margin-left: 2vw;
}

.search {
	height: 15vh;
	width: 100vw;
	/*background-color: rgb(255,255,255,0.1);*/
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 70%;
  background: #f1f1f1;
  align-content: center;
  margin-top: 1vh;
  margin-left: 13vw;
  border-radius: 5px;
  font-family: 'Hind', sans-serif;
}


form.example button:hover {
  background: #0b7dda;
}

.content {
	height: 53vh;
	width: 100vw;
	background:transparent;
}

/*.left {
	width: 45vw;
	float: left;
}


.left img {
	margin-top: 30px;
	margin-left: 20px;
	height: 35vh;
	padding: 50px;
	opacity: 0.8;
}

.left img:hover {
	opacity: 1;
}

.right {
	width: 85vw;
	margin-left: 50px;
}

.right > h1{
	font-size: 48px;
	font-family: 'Anton', sans-serif;
	color: #E8EDEE;
	color: white;
	margin-bottom: 20px;
	margin-top: 50px;
}

.right > p{
	font-size: 15px;
	font-family: 'Anton', sans-serif;
	color: #E8EDEE;
	color: white;
	margin-bottom: 20px;
}*/

footer {
	height: 7vh;
	width: 100vw;
	background-color: #D6D5B3;
	opacity: 0.5;
}

footer p{
	margin-top: 8px;
	margin-left: 10px;
	padding: 5px;
	display: inline-block;
}

.clear:after{
	content: " ";
	display: block;
	clear: both;
}

@media only screen and (max-width: 768px) and (min-width: 461px){
	.button{
		display: none;
	}

	img {
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 460px){
	.button{
		display: none;
	}

	img {
		margin-left: auto;
		margin-right: auto;
	}

	.logo{
		background:transparent;
		margin-left: 9vw;
	}
}